#Experience Orbs Feature Configuration
#
# Controls XP orb merging to reduce entity count.
# Orbs within clusterRange blocks will be merged into a single orb.
# Optionally removes very old XP orbs that survive far beyond normal lifetime.
#Tue Jul 21 01:25:41 CEST 2026
enabled=auto
experienceOrbsClusterRange=2
minOptimizationLoadLevel=auto
movePositionToLastDrop=false
optimizeExperienceOrbs=true
removeStaleExperienceOrbs=true
staleExperienceOrbAgeTicks=120000
