#Monitoring Feature Configuration
#
# Periodically logs server performance metrics to the server log.
# Set monitoringIntervalSeconds to 0 to log only on load-level changes.
#Tue Jul 21 01:25:41 CEST 2026
enabled=disabled
monitoringIntervalSeconds=30
monitoringLogEntities=true
monitoringLogLoadLevel=true
monitoringLogPlayers=true
monitoringLogTps=true
