#Player Easy Child Mode Configuration
#
# List player names that should receive reduced hurt damage and increased attack damage.
# Percentages: 0 = disabled, 100 = full reduction/increase.
#Tue Jul 21 01:25:41 CEST 2026
childPlayerAttackDamageIncrease=50
childPlayerHurtDamageReduction=50
childPlayerNames=
enabled=auto
