#Player Login Protection Configuration
#
# When enabled, players receive brief invisibility + invulnerability on login
# until they move (or until the timeout expires).
#Tue Jul 21 01:25:41 CEST 2026
enabled=auto
playerLoginValidationTimeout=60
protectPlayerDuringLogin=true
protectPlayerDuringLoginLogging=true
